@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@600&display=swap');


body {
background-color: #121212;
}
.container{
  width: 1500px;
  margin: 0 auto;

}


